<div class="media anime" id="anime--<%= anime.id %>">
  <div class="title">
    <h2><%= anime.title %></h2>
	<span>Type: <%= anime.type %></span>
  </div>
  <div class="content">
    <p><%= anime.synopsis %></p>
  </div>
</div>