<div class="anime" id="anime-0">
  <div class="title">
    <h2><%= anime.name %></h2>
	<span>Type: <%= anime.type %></span>
  </div>
  <div class="content">
    <p><%= anime.desc %></p>
  </div>
</div>