<!-- 
  PAGE HEADER 
  -->
<header>
  <div class="header__inner">
    <div class="banner">
      <div class="banner__inner clearfix">
        <div class="title fLeft">
        <h1>
          <%= req.app.locals.title %>
        </h1>
      </div>
      <div class="nav">
        <div class="menu">

        </div>
      </div>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/a/all">All anime</a>
          <a href="/a/random">Random</a>
          <a href="about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>