<!DOCTYPE html>
<html>
<head>
  <title>Not Found - <%= req.app.locals.title %></title>
  <% include ../partials/head.ejs %>
</head>
<body>

  <% include ../partials/header.ejs %>
  404
  <% include ../partials/footer.ejs %>

</body>
</html>
